{% extends "account/base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<div class="row">

  <div class="card form-account" style="margin: 0px auto; border: 1px solid #ccc !important; border-radius: 25px; box-shadow: 0px 0px 10px #dede;">
    <article class="card-body" style="min-width: 300px; max-width: 100% !important;">
        <h4 class="card-title text-center mb-4 mt-1">Entrar</h4>
        <hr>
        <a href="{% url 'useradmin_app:loginusuario' %}" class="btn" style="margin: 50px auto; display: block; max-width: max-content;">Soy Usuario</a>
        <a href="{% url 'useradmin_app:logincompany' %}" class="btn" style="margin: 50px auto; display: block; max-width: max-content;">Soy Emprendedor</a>
    </article>
  </div>

</div>
<div class="row text-center">
  <a href="{% url 'useradmin_app:registrarse' %}" class="text-center w-100" style="margin-top: 10px;">Registrarse</a>
</div> 


{% endblock %}
