{% extends "account/base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<div class="row">

  <div class="card form-account" style="margin: 0px auto; border: 1px solid #ccc !important; border-radius: 25px; box-shadow: 0px 0px 10px #dede;">
    <article class="card-body">
        <h4 class="card-title text-center mb-4 mt-1">Entrar como Vendedor</h4>
        <hr>
        <p>
            <!--<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block" style="width: max-content; margin: 10px auto;"><i class="fa fa-facebook-f"></i> Entrar via facebook</a>-->
        </p>
        <form class="login" method="POST" action="">
            <!--{{ form.as_p }}-->
            {% csrf_token %}
            <div class="row">

                <div class="col-12">
                    <!-- Email -->
                    <label for="id_username">Usuario o E-Mail</label>
                    <input type="text" name="username" autofocus="" class="form-control mb-4" placeholder="E-mail o Nombre de Usuario" autocapitalize="none" autocomplete="username" required="" id="id_username">

                    <!-- Password -->
                    <label for="id_username">Contraseña</label>
                    <input type="password" name="password" autocomplete="current-password" required="" class="form-control mb-4" placeholder="Contraseña" style="position: relative; padding-right: 10px;"  id="id_password">
                    <span toggle="#id_password" class="fa fa-fw fa-eye field-icon toggle-password" style="position:absolute; right: 20px; top: 50%; transform: translateY(46px);"></span>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <button class="primaryAction btn" type="submit">Entrar</button>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Reiniciar Contraseña</a>
                </div>   
            </div>   
                                                
        </form>
      
    </article>
  </div>

</div>
<div class="row text-center">
  <a href="{% url 'useradmin_app:registrarse' %}" class="text-center w-100" style="margin-top: 10px;">Registrarse</a>
</div> 


{% endblock %}
