{% extends "account/base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<div class="row">

  <div class="card form-account" style="margin: 0px auto; border: 1px solid #ccc !important; border-radius: 25px; box-shadow: 0px 0px 10px #dede; min-width: 80%;">
    <article class="card-body">
        <h3 class="card-title text-center mb-3 mt-1">Registrarse como Comprador</h3>
        <hr>
        <p>
          <!--<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block" style="width: max-content; margin: 10px auto;"><i class="fa fa-facebook-f"></i> Registrarse via facebook</a>-->
        </p>
        <form class="login" method="POST" action="">
          {% csrf_token %}
          <!--{% for field in form %}
            <div class="form-group">
              {{ field.label }}
              {{ field }}
            </div>
          {% endfor %}
          {{ profile_form.as_p }}-->

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="id_first_name">Nombre</label>
              {% if form.first_name.value %}
                <input type="text" class="form-control" id="id_first_name" placeholder="Nombre" name="first_name" required="" value="{{form.first_name.value}}">
              {% else %}
                <input type="text" class="form-control" id="id_first_name" placeholder="Nombre" name="first_name" required="">
              {% endif %}
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">Apellido</label>
              {% if form.last_name.value %}
                <input type="text" class="form-control" id="last_name" placeholder="Apellido" name="last_name" value="{{form.last_name.value}}">
              {% else %}
                <input type="text" class="form-control" id="last_name" placeholder="Apellido" name="last_name">
              {% endif %}
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="id_username">Nombre de Usuario</label>
              {% if form.username.value %}
                <input type="text" class="form-control" id="id_username" placeholder="Usuario" name="username" required="" value="{{form.username.value}}">
              {% else %}
                <input type="text" class="form-control" id="id_username" placeholder="Usuario" name="username" required="">
              {% endif %}
              <small id="phoneHelp" class="form-text text-muted">Ejemplo: miusuario99</small>
            </div>
            <div class="form-group col-md-6">
              <label for="id_email">E-mail</label>
              {% if form.email.value %}
                <input type="email" class="form-control" id="id_email" placeholder="E-mail" name="email" required="" value="{{form.email.value}}">
              {% else %}
                <input type="email" class="form-control" id="id_email" placeholder="E-mail" name="email" required="">
              {% endif %}
              <small id="phoneHelp" class="form-text text-muted">Ejemplo: micorreo@mail.com</small>
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6 mb-0">
              <label for="id_password1">Contraseña</label>
              <!--<input type="password" name="password1" autocomplete="current-password" required="" class="form-control mb-0" placeholder="Contraseña" style="position: relative; padding-right: 10px;"  id="id_password1">-->
              <div style="width: 100%; position: relative;">
                {{form.password1}}
                <span toggle="#id_password1" class="fa fa-fw fa-eye field-icon toggle-password" style="position:absolute; right: 10px; top: 50%; transform: translateY(-50%);"></span>
              </div>

              <!--<small id="passwordHelp" class="form-text text-muted">La contraseña debe tener al menos 6 caracteres</small>
              <small id="passwordHelp" class="form-text text-muted">Debe contener Letras [a-z] y Números si desea [0-9]</small>
              <small id="passwordHelp" class="form-text text-muted">No puede ser solo Números por seguridad</small>-->

              <ul class="helper-text">
                <li class="length">Debe tener al menos 6 caracteres de longitud.</li>
                <li class="lowercase">Debe contener una letra minúscula.</li>
                <li class="uppercase">Debe contener una letra mayúscula.</li>
                <li class="special">Debe contener un número.</li>
              </ul>
            </div>
            <div class="form-group col-md-6 mb-0">
              <label for="id_password2">Confirmacion de Contraseña</label>
              <div style="width: 100%; position: relative;">
                {{form.password2}}
                <span toggle="#id_password2" class="fa fa-fw fa-eye field-icon toggle-password" style="position:absolute; right: 10px; top: 50%; transform: translateY(-50%);"></span>
              </div>
              <!--<small id="passwordHelp" class="form-text text-muted">La contraseña debe tener al menos 6 caracteres</small>
              <small id="passwordHelp" class="form-text text-muted">Debe contener Letras [a-z] o Números [0-9]</small>
              <small id="passwordHelp" class="form-text text-muted">No puede ser solo Números por seguridad</small>-->
              <ul class="helper-text">
                <li class="equal">Las Contraseñas son Iguales</li>
              </ul>
            </div>
          </div><!-- End Of Password -->

          <div class="form-group">
            <label for="id_gender">Genero</label>
            {{profile_form.gender}}
          </div>

          <div class="form-group">
            <label for="id_Department">Departamento</label>
            {{profile_form.Department}}
          </div>

          <div class="form-group">
            <label for="id_location">Dirección Detallada</label>
            {% if profile_form.location.value %}
              <input type="text" class="form-control" id="id_location" placeholder="Dirección Detallada" name="location" required="" value="{{profile_form.location.value}}">
            {% else %}
              <input type="text" class="form-control" id="id_location" placeholder="Dirección Detallada" name="location">
            {% endif %}
            <small id="phoneHelp" class="form-text text-muted">Direccíon donde llegara tu pedido</small>
          </div>

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="id_phone">Teléfono</label>
              {% if profile_form.phone.value %}
                <input type="tel" class="form-control" id="id_phone" placeholder="99999999" name="phone" required="" value="{{profile_form.phone.value}}" pattern="[0-9]{8}">
              {% else %}
                <input type="tel" class="form-control" id="id_phone" placeholder="99999999" name="phone" required="" pattern="[0-9]{8}">
              {% endif %}
              <small id="phoneHelp" class="form-text text-muted">Ejemplo: 99999999</small>
              <small id="phoneHelp" class="form-text text-muted">Se te contactara para tus pedidos </small>
            </div>

            <div class="form-group col-md-6">
              <label for="id_code">Código de Registro</label>
              {% if profile_form.code.value %}
                <input type="text" class="form-control" id="id_code" placeholder="Código de Registro" name="code" value="{{profile_form.code.value}}">
              {% else %}
                <input type="text" class="form-control" id="id_code" placeholder="Codigo de Registro" name="code">
              {% endif %}
              <small id="phoneHelp" class="form-text text-muted">Si eres referido puedes ingresar el código</small>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group text-center" style="margin-top: 20px;">
                <button class="primaryAction btn" name="Create User" type="submit">Registrarse</button>
              </div>
            </div>  
          </div>

      </form>
    </article>
  </div>

</div>

<div class="row text-center">
    <p style="width: 100%; text-align: center; margin-top: 15px;">Si ya tienes una cuenta <a href="{% url 'useradmin_app:entrar' %}" class="text-center w-100" style="margin-top: 10px;">Entra</a></p>
</div> 


{% endblock %}
