/*------------------------------------------------------
GENERAL STYLES
------------------------------------------------------*/
*
{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body
{
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
	color: #343a40;
}

p
{
	color: #343a40;
}

a
{
	color: #ef4036 !important;
	text-decoration: none !important;
}

a:hover
{
	color: #A31C15 !important;
	text-decoration: none !important;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.thumbnail
{
	opacity: 1;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
}

.thumbnail:hover
{
	opacity: .8;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

/*------------------------------------------------------
HEADER STYLES
------------------------------------------------------*/

.pos-f-t .p-4 a
{
	width: 100%;
}

header .row
{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

header .form-inline
{
	width: 	100%;
	height: 100%;
}

header .col-form
{
	padding: 0px;
}

header .form-inline .form-control
{
	width: 	100%;
	position: relative;	
	border: none;
	outline: none;
	height: 100%;
	font-size: 1.3em;
	border-radius: 5px;
}

header .form-inline button
{
	width: 40px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	background: #ef4036;
	color: #fff;
	font-size: 1.3em;
	border: none;
	border-radius: 0px 5px 5px 0px;
	outline: none;
}

header .form-inline button i
{
	display: block;
}

header .form-inline button:hover
{
	background: #A31C15;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

header .navbar-toggler
{
	color: #ef4036 !important;
	border: 1px solid #ef4036 !important;
	outline: none !important;
	font-size: 1.6em;
	padding: 0px 20px;
	height: 100%;
}

header .navbar-toggler:hover
{
	color: #A31C15 !important;
	border: 1px solid #A31C15 !important;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

header .navbar-car
{
	height: 100%;
	font-size: 1.6em;
	color: #ef4036;
	padding: 0px;
	margin-right: 20px;
}

header .navbar-car:hover
{
	color: #A31C15;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

header .navbar-brand 
{
	padding: 0px;
}

header .navbar-brand img
{
	width: auto;
	height: 100%;
	max-height: 36px;
}

header ul
{
	text-align: center;
	list-style: none;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 0px;
	padding-top: 10px !important;
    padding-bottom: 10px !important;
}

header ul li
{
	width: max-content;
	padding: 5px 10px;
	display: inline-block;
}

header ul li a
{
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
}

header ul li a:hover
{
	color: #ef4036;
	text-decoration: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

header nav .custom-select
{
	border-radius: 5px 0px 0px 5px !important;
	border: 0px !important;
	background: #f0f0f0 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
	border-radius: 5px 0px 0px 5px;
}

header nav .custom-select:hover
{
	background: #e6e6e6 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

header nav .form-control
{
	background: #fff;
	border-radius: 0px !important;
	border: 0px !important;
}

header nav .input-group-postpend .btn
{
	border-radius: 0px 5px 5px 0px !important;
	border: none !important;
	height: 100%;
}

/*------------------------------------------------------
HOME STYLES
------------------------------------------------------*/

#carouselExampleIndicators
{
	margin-top: 0px;
	margin-bottom: 0px;
	max-height: 700px !important;
	overflow: hidden !important;
}

#bestsellerslider
{
	padding-top: 50px;
	padding-bottom: 50px;
}

#bestsellerslider h3
{
	width: 100%;
	margin-bottom: 50px;
	font-size: 2.5em;
}

.carousel-control-prev i, .carousel-control-next i
{
	font-size: 3em;
	color: #ef4036;
}

.carousel-control-prev i:hover, .carousel-control-next i:hover
{
	color: #A31C15;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.btn
{
	background: #ef4036 !important;
	color: #fff !important;
}

.btn:hover
{
	background: #A31C15 !important;
	color: #fff !important;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.card h2, .woocommerce-Price-amount
{
	color: #ef4036;
	font-size: 1.7em;
	font-weight: bold;
}

.card h2 span, .woocommerce-Price-currencySymbol
{
	font-size: .6em;
	font-weight: lighter;
}

.woocommerce-Price-amount
{
	color: #ef4036 !important;
	font-size: 1em !important;
	font-weight: bold !important;
}

.woocommerce-Price-currencySymbol
{
	font-size: .4em !important;
	font-weight: lighter !important;
}

.card h5
{
	font-size: 1.2em;
	font-weight: lighter;
}

.card img
{
	width: 100%;
	height: auto;
}

/*------------------------------------------------------
PRODUCTS STYLES
------------------------------------------------------*/

.wrap-products
{
	padding: 150px 0px 100px 0px;
}

.wrap-single-product
{
	margin-top: 150px;
	overflow: hidden;
}

.wrap-single-product .image-prod
{
	float: left;
}

.wrap-single-product .image-prod img
{
	width: 100%;
}

.wrap-single-product .info-prod
{
	float: right;
}

.wrap-single-product .info-prod .btn
{
	margin-top: 20px;
}

.wrap-single-product .info-prod .wrap-info
{
	width: 100%;
}

.wrap-single-product .info-prod h2
{
	color: #ef4036;
}

.wrap-single-product .wrap-comments
{
	width: 100%;
	height: auto;
	overflow: hidden;
	float: left;
	padding: 50px 0px;
}

.wrap-single-product .wrap-comments h3
{
	width: 100%;
	text-align: center;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.wrap-products-list .card
{
	border-radius: 0px !important;
}

/*------------------------------------------------------
SEARCH STYLES
------------------------------------------------------*/

.search-container, .product-container, .list-cats
{
	margin-top: 50px !important;
	padding-top: 100px !important;
	padding-bottom: 100px !important;
	height: auto !important;
	overflow: hidden !important;
	min-height: 800px;
}

.list-cats
{
	margin-top: 50px !important;
	padding-top: 0px !important;
	padding-bottom: 50px !important;
	height: auto !important;
	overflow: hidden !important;
}

.pagination
{
	width: max-content;
	height: auto;
	overflow: hidden;
	padding: 50px 0px 25px 0px;
	text-align: center;
	margin: 0px auto;
}

.pagination .btn-secondary 
{
    border-color: #fff !important;
}

.pagination .active
{
    background: #A31C15 !important;
}

.pagination a
{
	background: #ef4036 !important;
	color: #fff !important;
	border: 1px solid #fff !important;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.pagination a:hover
{
	background: #A31C15 !important;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

/*------------------------------------------------------
CATEGORYS STYLES
------------------------------------------------------*/

.list-cats
{
	margin-top: 50px;
}

.list-cats h3
{
	margin-bottom: 50px;
	font-size: 2.5em;
}

.list-cats .card-title
{
	color: #ef4036;
}

/*------------------------------------------------------
FOOTER STYLES
------------------------------------------------------*/

footer .copy p
{
	color: #fff;
}

footer .social, footer .menufooter
{
	width: 100%;
	overflow: hidden;
	height: auto;
	text-align: center;
}

footer .social ul, footer .menufooter ul
{
	width: max-content;
	margin: 0px auto;
	height: auto;
	overflow: hidden;
}

footer .menufooter ul
{
	margin-top: 50px;
}

footer .social ul li, footer .menufooter ul li
{
	list-style: none;
	width: max-content;
	text-align: center;
	display: block;
	float: left;
}

footer .social ul li a, footer .menufooter ul li a
{
	display: inline-block;
	width: max-content;
	text-align: center;
	color: #ccc !important;
	font-size: 1.3em;
	padding: 5px;
	margin: 2px 10px;
}

footer .menufooter ul li a
{
	font-size: 1.1em;
}

footer .social ul li a:hover, footer .menufooter ul li a:hover
{
	color: #ef4036 !important;
	text-decoration: none;
}

/*------------------------------------------------------
SLIDERS STYLES
------------------------------------------------------*/

.linkitem
{
	display: block;
	overflow: hidden;
}

.linkitem img
{
	width: 100%;
}

.linkitem h5
{
	font-size: 1em;
}

.contro-slider-right, .contro-slider-left
{
	width: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	font-size: 40px;
	display: block;
	color: #ef4036;
	transform: translateY(-50%);
}

.contro-slider-right:hover, .contro-slider-left:hover
{
	color: #A31C15;
	transform: translateY(-50%);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.contro-slider-left
{
	left: 0px;
}

.contro-slider-right
{
	right: 0px;
}

.carousel-control.left,.carousel-control.right 
{
	margin-left:15px;
	background-image:none;
}

@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next { left:  100%; }
	.carousel-inner .prev { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}

@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next { left:  50%; }
	.carousel-inner .prev { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}

@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next { left:  25%; }
	.carousel-inner .prev { left: -25%; }	
}
