{% extends "dashboard.html" %}

{% block content %}
{% load static %}

<h3 class="text-left" style="border-bottom: 1px solid #ccc; padding-bottom: 20px; width: 100%; margin-top: 20px; font-size: 40px;">Productos Publicados</h3>

<div class="row">
	<div class="col-12 mt-3">
		<div class="row mb-3">
			<div class="col-6 text-left">
				<small>Tienes {{countprod}} productos</small>
			</div>
			<div class="col-6 text-right">
				<a href="{% url 'dashboard_app:newprod' %}" class="primaryAction btn">Agregar Producto</a>
			</div>
		</div>
		{% for prod in productlist %}
			<div class="card mb-3 p-2" style="background: #fff; box-shadow: 0px 4px 7px #cacaca; border-radius: 5px; border-bottom: 1px solid #ccc !important;">
				<div class="row no-gutters">
					<div class="col-3 col-md-3 col-lg-2">
						<img src="{{ prod.imagef.url }}" class="card-img">
					</div>
					<div class="col-8 col-md-8 col-lg-9">
						<div style="display: block; height: 100%; position: relative;">
							<div style="padding: 10px;">
								<a href="{% url "dashboard_app:editproduct" prod.id %}">{{prod.title}}</a>
								<p class="card-text mb-0">
									Código: {{prod.productCode}}
								</p>
								<p class="card-text mb-0">
									Categoría: {{prod.subCategory}}
								</p>
								<a href="{% url 'product_app:single-product' prod.slug %}" style="margin-right: 10px; margin-top: 10px; display: block;" target="blank">Visualizar Producto</a>
							</div>
						</div>
					</div>
					<div class="col-1">
						<div style="display: block; height: 100%; position: relative;">
							<div style="width: 100%; height: auto; position: absolute; top: 50%; transform: translateY(-50%); padding: 10px; text-align: center;">
								<a href="{% url 'dashboard_app:deleteproduct' prod.id %}" class=""><i class="fa fa-trash"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		<!--<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
				<th scope="col">Nombre Producto</th>
				<th scope="col">Código</th>
				<th scope="col">Categoría</th>
				<th scope="col">Inventario</th>
				<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for prod in productlist %}
					<tr>
						<td><a href="{% url "dashboard_app:editproduct" prod.id %}">{{prod.title}}</a></td>
						<td>{{prod.productCode}}</td>
						<td>{{prod.subCategory}}</td>
						<td>{{prod.quantity}}</td>
						<td class="text-right">
							<a href="{% url 'product_app:single-product' prod.slug %}" style="margin-right: 10px;" target="blank">Ver</a>
							<a href="{% url 'dashboard_app:deleteproduct' prod.id %}" class=""><i class="fa fa-trash"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>-->
	</div>
</div>
{% endblock content %}