{% extends "dashboard.html" %}

{% block content %}
{% load static %}
{% load humanize %}

<h3 class="text-left" style="border-bottom: 1px solid #ccc; padding-bottom: 20px; width: 100%; margin-top: 20px; font-size: 40px;">Escritorio</h3>
<div id="dashstats" class="row">
	<div class="col-4">
		<div class="text-center">
			<h2 class="h1 mb-0">{{ProductsCount}}</h2>
			<p>Productos</p>
		</div>
	</div>
	<div class="col-4">
		<div class="text-center">
			<!--<h2 class="h1 mb-0">{{viewsprod.views__avg|floatformat}}</h2>-->
			{% if viewsprod.views__sum %}
				<h2 class="h1 mb-0">{{viewsprod.views__sum|floatformat|intword}}</h2>
			{% else %}
				<h2 class="h1 mb-0">0</h2>
			{% endif %}
			<p>Visualizaciones</p>
		</div>
	</div>
	<div class="col-4">
		<div class="text-center">
			<h2 class="h1 mb-0">{{sellprod}}</h2>
			<p>Compras del mes</p>
		</div>
	</div>
</div><!-- End of Stats -->

<div id="dashgraphics" class="row">
	<div class="col-12 col-md-7 col-lg-8">
		<div class="card">
			<h4 class="card-header">Visualizaciones</h4>
			<div class="card-body">
				<div id="chartContainer" style="height: 300px; width: 100%;"></div>
				<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-5 col-lg-4">
		<div class="card">
			<h4 class="card-header">Compras</h4>
			<div class="card-body">
				<ul>
					{% for p in sellprodlist %}
						<li>{{p.stringTitle}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div><!-- End of Stats -->

<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Number of iPhones Sold in Different Quarters"
	},
	axisX: {
		minimum: new Date(2015, 01, 25),
		maximum: new Date(2017, 02, 15),
		valueFormatString: "MMM YY"
	},
	axisY: {
		title: "Number of Sales",
		titleFontColor: "#4F81BC",
		suffix: "mn"
	},
	data: [{
		indexLabelFontColor: "darkSlateGray",
		name: "views",
		type: "area",
		yValueFormatString: "#,##0.0mn",
		dataPoints: [
			{ x: new Date(2015, 02, 1), y: 74.4, label: "Q1-2015" },
			{ x: new Date(2015, 05, 1), y: 61.1, label: "Q2-2015" },
			{ x: new Date(2015, 08, 1), y: 47.0, label: "Q3-2015" },
			{ x: new Date(2015, 11, 1), y: 48.0, label: "Q4-2015" },
			{ x: new Date(2016, 02, 1), y: 74.8, label: "Q1-2016" },
			{ x: new Date(2016, 05, 1), y: 51.1, label: "Q2-2016" },
			{ x: new Date(2016, 08, 1), y: 40.4, label: "Q3-2016" },
			{ x: new Date(2016, 11, 1), y: 45.5, label: "Q4-2016" },
			{ x: new Date(2017, 02, 1), y: 78.3, label: "Q1-2017", indexLabel: "Highest", markerColor: "red" }
		]
	}]
});
chart.render();

}
</script>

{% endblock content %}