{% extends "dashboard.html" %}

{% block content %}
{% load static %}
{% load thumbnail %}

<h3 class="text-left" style="border-bottom: 1px solid #ccc; padding-bottom: 20px; width: 100%; margin-top: 20px; font-size: 40px;">Productos Publicados</h3>

<div class="row">
	<div class="col-12 mt-3">
		<div class="row mb-3">
			<div class="col-6 text-left">
				<small>Tienes {{countprod}} productos</small>
			</div>
			<div class="col-6 text-right">
				<a href="{% url 'dashboard_app:newprod' %}" class="primaryAction btn">Agregar Producto</a>
			</div>
		</div>
		{% for prod in productlist %}
			<div class="card mb-3 p-2" style="background: #fff; box-shadow: 0px 4px 7px #cacaca; border-radius: 5px; border-bottom: 1px solid #ccc !important;">
				<div class="row no-gutters">
					<div class="col-12 col-sm-3 col-md-3 col-lg-2">
							{% thumbnail prod.imagef "150x150" crop="center" as im %}
							<div class="squere-prod" style="background: url({{ im.url }}) center center no-repeat; background-size: cover; padding-bottom: 100%; width: 100%;"></div>
						{% endthumbnail %}
						<!--<img src="{{ prod.imagef.url }}" class="card-img">-->
					</div>
					<div class="col-11 col-sm-8 col-md-8 col-lg-9">
						<div style="display: block; height: 100%; position: relative;">
							<div style="padding: 10px;">
								<a href="{% url "dashboard_app:editproduct" prod.id %}">
									{{prod.title}}
									{% if prod.pricePromo %}
										<span class="btn ml-3" style="font-size: 10px;">PROMOCIÓN</span>
									{% endif %}
								</a>
								<p class="card-text mb-0">
									{% if prod.pricePromo %}
										Precio: <b>{{ prod.pricePromo|floatformat:2 }}</b><span style="font-size: 14px;">L.</span>
										<span class="ml-2" style="text-decoration: line-through; font-weight: normal; color: #ccc !important;">{{ prod.price|floatformat:2 }}<span style="font-size: 14px;">L.</span></span>
									{% else %}
										Precio: <b>{{ prod.price|floatformat:2 }}</b><span style="font-size: 14px;">L.</span>
									{% endif %}
								</p>
								<p class="card-text mb-0">
									Código: {{prod.productCode}}
								</p>
								<p class="card-text mb-0">
									Categoría: {{prod.subCategory}}
								</p>
								<p class="card-text mb-0">
									Visualizaciones: {{prod.views}}
								</p>
								<a href="{% url 'product_app:single-product' prod.slug %}" style="margin-right: 10px; margin-top: 10px; display: block;" target="blank">Visualizar Producto</a>
							</div>
						</div>
					</div>
					<div class="col-1">
						<div style="display: block; height: 100%; position: relative;">
							<div style="width: 100%; height: auto; position: absolute; top: 50%; transform: translateY(-50%); padding: 0px; text-align: center;">
								<!--<a href="{% url 'dashboard_app:deleteproduct' prod.slug %}" class="btn"><i class="fa fa-trash"></i></a>-->
								<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal{{prod.id}}"><i class="fa fa-trash"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="exampleModal{{prod.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						¿Estas seguro que quieres eliminarlo?
					</div>
					<div class="modal-footer">
						<a href="{% url 'dashboard_app:deleteproduct' prod.slug %}" class="btn"><i class="fa fa-trash"></i></a>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					</div>
					</div>
				</div>
			</div><!-- End Of Modal -->
		{% endfor %}
	</div>
	<nav aria-label="Page navigation example" style="margin: 0px auto;">
		<ul class="pagination">
			{% if productlist.paginator.num_pages != 1 %}
				{% if productlist.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page=1" aria-label="Previous">
					<span aria-hidden="true">&laquo;&laquo;</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ productlist.previous_page_number }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% endif %}
				<li class="page-item"><a class="page-link">{{ productlist.number }} de {{ productlist.paginator.num_pages }}</a></li>

				{% if productlist.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ productlist.next_page_number }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page={{ productlist.paginator.num_pages }}" aria-label="Next">
					<span aria-hidden="true">&raquo;&raquo;</span>
					</a>
				</li>
				{% endif %}
			{% endif %}
		</ul>
	</nav><!-- End of Pagination -->
</div>
{% endblock content %}