{% extends "index.html" %}

{% block content %}
	{% load static %}
	{% load thumbnail %}
	<img src="{% static 'img/pedidos.jpg' %}" class="img-fluid header-orders">
	<div class="container-fluid product-container">
		<div class="container">
            <!--<h3 class="text-left" style="border-bottom: 1px solid #ccc; padding-bottom: 20px; font-size: 40px;">Pedidos</h3>
			<p style="width:100%; text-align: right; color: #666; margin-top: 14px;">¡Puedes hacer los pedidos que desees!</p>-->
			<div class="row">
				<!--<div class="col-0 col-md-0 col-lg-3 catslist-prodpage">
					<ul class="list-group">
						<li class="list-group-item"><h4 style="font-weight:bold;">Categorías</h4></li>
						{% for listcatleft in listCategorys %}
							<li class="list-group-item list-group-item-action"><a href="{% url 'product_app:sub-categorys' listcatleft.slug listcatleft.id %}">{{ listcatleft.name }}</a></li>
						{% endfor %}
					</ul>
				</div>-->
				<div class="col-12 col-md-12 col-lg-12">
					<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 wrap-products-list" style="margin-top: -10px;">
						{% for p in contacts %}
							<div class="card text-left prod-item" style="border:none; padding: 10px; overflow: hidden;">
								<div class="thumbnail-order">
									{% if p.imagef.url == '' %}
										<img src="{% static 'img/default_thumbnail.jpg' %}">
									{% else %}
										{% thumbnail p.imagef "300x300" crop="center" as im %}
											<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
										{% endthumbnail %}
									{% endif %}
									<a href="#" class="btn order-btn2">Agrega a Lista de Deseos</a>
									<a href="{% url 'orders_app:single-orders' p.slug %}" class="btn order-btn">Detalles de Producto</a>
								</div>
								<div class="card-body" style="padding: 15px 0px; text-align: center !important;">
									<h2 class="card-title" class="text-center" style="font-size: 18px; font-weight: bold;"><b>{{ p.title|truncatechars:19 }}</b></h2>
									<h5 class="card-title" class="text-center" style="font-size: 15px; color: #444;"><b>{{ p.price|floatformat:2 }}</b><span style="font-size: 10px;">L</span></h5>
								</div>
							</div><!-- End Of Product -->
						{% endfor %}
					</div>

					<nav aria-label="Page navigation example" >
						<ul class="pagination">
							{% if contacts.paginator.num_pages != 1 %}
								{% if contacts.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page=1" aria-label="Previous">
									<span aria-hidden="true">&laquo;&laquo;</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								{% endif %}
								<li class="page-item"><a class="page-link">{{ contacts.number }} de {{ contacts.paginator.num_pages }}</a></li>

								{% if contacts.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ contacts.next_page_number }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{ contacts.paginator.num_pages }}" aria-label="Next">
									<span aria-hidden="true">&raquo;&raquo;</span>
									</a>
								</li>
								{% endif %}
							{% endif %}
						</ul>
					</nav><!-- End of Pagination -->


				</div>
			</div>
		</div>
	</div>

{% endblock content %}