{% extends "index.html" %}

{% block content %}

	{% load static %}
	<div class="container-fluid list-cats">
		<div class="container">
			<h1 class="text-left" style="padding-bottom: 20px; margin-bottom: 30px; padding-top: 100px;">Pedido de {{request.user.username}}</h1>
			<div class="table-responsive">
				<table class="table table-hover">
					<caption>El precio no incluye envío</caption>
					<thead class="thead-dark">
						<tr>
							<th scope="col">Cantidad</th>
							<th scope="col">Producto</th>
							<th scope="col">Precio</th>
							<th scope="col">Total</th>
						</tr>
					</thead>
					<tbody>
						{% for oreder_item in object.items.all %}
							<tr>
								<td>
									<a href="{% url 'cart_app:remove-item-cart' oreder_item.item.slug %}"><i class="fa fa-minus mr-2"></i></a>
										{{ oreder_item.quantity }}
									<a href="{% url 'cart_app:add-to-cart' oreder_item.item.slug %}"><i class="fa fa-plus ml-2"></i></a>
								</td>
								<td><a href="{% url 'product_app:single-product' oreder_item.item.slug %}">{{ oreder_item.item.title }}</a></td>
								<td>
								{% if oreder_item.item.pricePromo %}
									{{ oreder_item.item.pricePromo }}<span style="font-size: .8em;">L.</span>
								{% else %}
									{{ oreder_item.item.price }}<span style="font-size: .8em;">L.</span>
								{% endif %}
								</td>
								<td>
									{% if oreder_item.item.pricePromo %}
										{% if oreder_item.quantity != 0 %}
											{{oreder_item.get_total_discount_item_price}}<span style="font-size: .8em;">L.</span> <span class="badge badge-primary">Ahorraste: {{oreder_item.get_amount_saved}}<span style="font-size: .8em;">L.</span>
											</span>
										{% else %}
											{{oreder_item.item.pricePromo}}<span style="font-size: .8em;">L.</span> <span class="badge badge-primary">Ahorraste: {{oreder_item.get_amount_saved}}<span style="font-size: .8em;">L.</span>
											</span>
										{% endif %}
									{% else %}
										{% if oreder_item.quantity != 0 %}
											{{oreder_item.get_total_item_price}}<span style="font-size: .8em;">L.</span>
										{% else %}
											{{oreder_item.item.price}}<span style="font-size: .8em;">L.</span>
										{% endif %}
									{% endif %}
									<a href="{% url 'cart_app:remove-to-cart' oreder_item.item.slug %}" class="float-right"><i class="fa fa-trash ml-2"></i></a>
								</td>
							</tr>
						{% empty %}
							<tr>
								<td colspan="5">Tu carrito esta vacio</td>
							</tr>
							<tr>
								<td scope="col"></td>
								<td scope="col"></td>
								<td scope="col"></td>
								<td scope="col">
									<a href="/" style="float: left; margin-top: 15px;">Continuar Comprando</a>
								</td>
							</tr>
						{% endfor %}
						{% if object.get_total %}
							<tr>
								<td scope="col"></td>
								<td scope="col"></td>
								<td scope="col">Total a pagar: </td>
								<td scope="col"><strong>{{ object.get_total }}</strong><span>L.</span></td>
							</tr>
							<tr>
								<td scope="col"></td>
								<td scope="col"></td>
								<td scope="col">
									<a href="/" style="float: left; margin-top: 15px;">Continuar Comprando</a>
								</td>
								<td scope="col">
									<a class="btn float-left" href="{{purchase_message}}">Realizar Compra <i class="fa fa-shopping-bag"></i></a>
								</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock content %}