{% extends "index.html" %}

{% block content %}
	{% load static %}
	<div class="container-fluid search-container">
		<div class="container">

			<h2 class="text-center" style="padding: 100px 0px 40px 0px; font-size: 40px; width: 100% !important; margin: 0px auto; text-shadow: 0px 2px 0px #b9241b; color: #ef4036; font-weight: bold !important;">GRACIAS POR TU COMPRA <i class="fa fa-smile-wink ml-1"></i></h2>
			<h5 class="text-center" style="padding: 0px 0px 70px 0px; font-size: 20px; width: 100% !important; margin: 0px auto; color: #7d7d7d;">Dentro de poco te contactara a través de whatsapp uno de nuestros administradores</h5>
			<a href="/" class="btn" style="margin: 0px auto; width: max-content; display: block;">Continuar Comprando</a>

		</div>
	</div>

{% endblock content %}