{% extends "index.html" %}
{% block content %}
	
	{% load static %}
	<div class="container-fluid plans-container">
		<div class="container">
			<div class="text-center">
				<h2 class="my-5 h2">Estadísticas de VendeenCasa</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-12 mb-4">
					<div class="text-center">
						<h2 class="h1 mb-0">{{CompanysCount}}</h2>
						<p>Empresas</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4">
					<div class="text-center">
						<h2 class="h1 mb-0">{{ProductsCount}}</h2>
						<p>Productos</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4">
					<div class="text-center">
						<h2 class="h1 mb-0">{{ProductsCount}}</h2>
						<p>Usuarios</p>
					</div>
				</div>
			</div><!-- End of Stats -->

			<h3 class="text-left" style="border-bottom: 1px solid #ccc; padding-bottom: 20px;">Nuestros Planes</h3>

			<div class="pricing row row-cols-1 row-cols-sm-2 row-cols-md-3">
				<div class="col mb-4">
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="card-title text-muted text-uppercase text-center">Gratis</h5>
							<h6 class="card-price text-center">$0<span class="period">/mes</span></h6>
							<hr>
							<ul class="fa-ul">
								<li><span class="fa-li"><i class="fa fa-check"></i></span>10 Productos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer en Barra de Descuentos</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Mayor Prioridad en Pautas.</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Aparecer más en el Slider del Home.</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Estrategia de Venta en Línea.</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Aparecer más en Productos Relacionados.</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Aparecer en Nuestra Publicidad</li>
							</ul>
							<a href="https://studiomorebi.com/vendoencasa/" class="btn btn-block btn-primary text-uppercase">Contáctanos</a>
						</div>
					</div>
				</div><!-- Gratis -->

				<div class="col mb-4">
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="card-title text-muted text-uppercase text-center">Básico</h5>
							<h6 class="card-price text-center">$15<span class="period">/mes</span></h6>
							<hr>
							<ul class="fa-ul">
								<li><span class="fa-li"><i class="fa fa-check"></i></span>20 Productos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer en Barra de Descuentos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Mayor Prioridad en Pautas.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer más en el Slider del Home.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Estrategia de Venta en Línea.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer más en Productos Relacionados.</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Aparecer en Nuestra Publicidad</li>
							</ul>
							<a href="https://studiomorebi.com/vendoencasa/" class="btn btn-block btn-primary text-uppercase">Contáctanos</a>
						</div>
					</div>
				</div><!-- 20 -->

				<div class="col mb-4">
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
							<h6 class="card-price text-center">$25<span class="period">/mes</span></h6>
							<hr>
							<ul class="fa-ul">
								<li><span class="fa-li"><i class="fa fa-check"></i></span>30 Productos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer en Barra de Descuentos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Mayor Prioridad en Pautas.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer más en el Slider del Home.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Estrategia de Venta en Línea.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer más en Productos Relacionados.</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Aparecer en Nuestra Publicidad</li>
							</ul>
							<a href="https://studiomorebi.com/vendoencasa/" class="btn btn-block btn-primary text-uppercase">Contáctanos</a>
						</div>
					</div>
				</div><!-- 30 -->

				<div class="col mb-4">
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="card-title text-muted text-uppercase text-center">Ilimitado</h5>
							<h6 class="card-price text-center">$50<span class="period">/mes</span></h6>
							<hr>
							<ul class="fa-ul">
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Productos Ilimitados</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer en Barra de Descuentos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Mayor Prioridad en Pautas.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer más en el Slider del Home.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Estrategia de Venta en Línea.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer más en Productos Relacionados.</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer en Nuestra Publicidad</li>
							</ul>
							<a href="https://studiomorebi.com/vendoencasa/" class="btn btn-block btn-primary text-uppercase">Contáctanos</a>
						</div>
					</div>
				</div><!-- Ilimitada -->

			</div>
		</div>
	</div><!-- End Of Planes -->

{% endblock content %}