{% extends "index.html" %}
{% block content %}
	
	{% load static %}
	<div class="container-fluid plans-container">
		<div class="container">

			<h3 class="text-left" style="border-bottom: 1px solid #ccc; padding-bottom: 20px;">Nuestros Planes</h3>
			<p style="width:100%; text-align: right; color: #666; margin-top: 14px;">Elige el plan que mejor se adapte a tu necesidad</p>
			<div class="pricing row row-cols-1 row-cols-sm-2 row-cols-md-3">
				<div class="col mb-4">
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="card-title text-muted text-uppercase text-center">VENDEDOR</h5>
							<h6 class="card-price text-center">$0<span class="period">/mes</span></h6>
							<hr>
							<ul class="fa-ul">
								<li><span class="fa-li"><i class="fa fa-check"></i></span>30 Productos visibles en la plataforma</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Volumen de ventas mayores a 30 productos al mes comienza tarifa de cierre de ventas</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Vender tus productos en toda Honduras</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Protección de tus productos contra envíos</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Aparecer en Barra de Descuentos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Asistencia a los vendedores</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Quitar o añadir nuevos productos a la plataforma en cualquier momento</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Acceder a ficheros e informes de pedidos</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Mayor presencia en barras especiales dentro de la plataforma.</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Mayor Prioridad en Publicidad externa</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Estrategia de venta en línea</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Diseño gráfico en productos para plataforma(Aplican restricciones)</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Logistica de productos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Delivery</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Almacenamiento de productos(restricciones aplican)</li>
							</ul>
							<a href="https://studiomorebi.com/vendoencasa/" class="btn btn-block btn-primary text-uppercase">Contáctanos</a>
						</div>
					</div>
				</div><!-- Vendedor -->

				<div class="col mb-4">
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="card-title text-muted text-uppercase text-center">EMPRESARIO</h5>
							<h6 class="card-price text-center">$50<span class="period">/mes</span></h6>
							<hr>
							<ul class="fa-ul">
								<li><span class="fa-li"><i class="fa fa-check"></i></span>100 Productos visibles en la plataforma</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Volumen de ventas mayores a 70 productos al mes comienza tarifa de cierre de ventas</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Vender tus productos en toda Honduras</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Protección de tus productos contra envíos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer en Barra de Descuentos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Asistencia a los vendedores</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Quitar o añadir nuevos productos a la plataforma en cualquier momento</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Acceder a ficheros e informes de pedidos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Mayor presencia en barras especiales dentro de la plataforma</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Mayor Prioridad en Publicidad externa</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Estrategia de venta en línea</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Diseño gráfico en productos para plataforma(Aplican restricciones)</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Logistica de productos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Delivery</li>
								<li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Almacenamiento de productos(restricciones aplican)</li>
							</ul>
							<a href="https://studiomorebi.com/vendoencasa/" class="btn btn-block btn-primary text-uppercase">Contáctanos</a>
						</div>
					</div>
				</div><!-- Empresario -->

				<div class="col mb-4">
					<div class="card mb-5 mb-lg-0">
						<div class="card-body">
							<h5 class="card-title text-muted text-uppercase text-center">FRANQUICIADOR</h5>
							<h6 class="card-price text-center">$250<span class="period">/mes</span></h6>
							<hr>
							<ul class="fa-ul">
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Productos Ilimitado visibles en la plataforma</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Volumen de ventas mayores a 70 productos al mes comienza tarifa de cierre de ventas</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Vender tus productos en toda Honduras</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Protección de tus productos contra envíos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Aparecer en Barra de Descuentos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Asistencia a los vendedores</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Quitar o añadir nuevos productos a la plataforma en cualquier momento</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Acceder a ficheros e informes de pedidos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Mayor presencia en barras especiales dentro de la plataforma</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Mayor Prioridad en Publicidad externa</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Estrategia de venta en línea</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Diseño gráfico en productos para plataforma(Aplican restricciones)</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Logistica de productos</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Delivery</li>
								<li><span class="fa-li"><i class="fa fa-check"></i></span>Almacenamiento de productos(restricciones aplican)</li>
							</ul>
							<a href="https://studiomorebi.com/vendoencasa/" class="btn btn-block btn-primary text-uppercase">Contáctanos</a>
						</div>
					</div>
				</div><!-- Franquiciador -->
			</div><!-- End Of Planes -->

			<div class="text-center">
				<h2 class="my-5 h2">Estadísticas de Vende en Casa</h2>
			</div>
			<div class="row" style="margin-bottom: 25px;">
				<div class="col-lg-4 col-md-12 mb-4">
					<div class="text-center">
						<h2 class="h1 mb-0">{{CompanysCount}}</h2>
						<p>Empresas</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4">
					<div class="text-center">
						<h2 class="h1 mb-0">{{ProductsCount}}</h2>
						<p>Productos</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4">
					<div class="text-center">
						<h2 class="h1 mb-0">{{ServicesCount}}</h2>
						<p>Servicios</p>
					</div>
				</div>
			</div><!-- End of Stats -->

		</div>
	</div>

{% endblock content %}