{% extends "index.html" %}

{% block content %}
	{% load static %}
	{% load thumbnail %}
	{% load mathfilters %}
	<div class="container-fluid product-container">
		<div class="container">
			<div class="row">
				<div class="col-0 col-md-0 col-lg-3 catslist-prodpage">
					<ul class="list-group">
						<li class="list-group-item"><h4 style="font-weight:bold;">Categorías</h4></li>
						{% for listcatleft in listCategorys %}
							<li class="list-group-item list-group-item-action"><a href="{% url 'product_app:sub-categorys' listcatleft.slug listcatleft.id %}">{{ listcatleft.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-12 col-md-12 col-lg-9">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 wrap-products-list" style="margin-top: -10px;">
						{% for p in contacts %}
							<div class="card text-left prod-item" style="border:none; padding: 10px;">
								<a href="{% url 'product_app:single-product' p.slug %}" class="thumbnail" style="position:relative;">
									{% if p.imagef.url == '' %}
										<img src="{% static 'img/default_thumbnail.jpg' %}">
									{% else %}
										{% thumbnail p.imagef "300x300" crop="center" as im %}
											<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
										{% endthumbnail %}
									{% endif %}

									{% if p.quantity == 1 %}
										<span class="exhausted2">Solo queda {{p.quantity}}</span>
									{% elif p.quantity > 1 and p.quantity < 4 %}
										<span class="exhausted2">Solo quedan {{p.quantity}}</span>
									{% endif %}
								</a>
								<div class="card-body" style="padding: 15px 0px;">
									<h2 class="card-title">
										<!--<b>{{ p.price|floatformat:2 }}</b><span>L.</span>-->
										{% if p.pricePromo %}
											<b>{{ p.pricePromo|floatformat:2 }}</b><span style="font-size: 14px;">L.</span>
										{% else %}
											<b>{{ p.price|floatformat:2 }}</b><span style="font-size: 14px;">L.</span>
										{% endif %}
									</h2>
									<h5 class="card-title">{{ p.title|truncatechars:19 }}</h5>
									<a href="{% url 'product_app:single-product' p.slug %}" class="btn">Comprar</a>
								</div>
							</div><!-- End Of Product -->
						{% endfor %}
					</div>

					<nav aria-label="Page navigation example" >
						<ul class="pagination">
							{% if contacts.paginator.num_pages != 1 %}
								{% if contacts.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page=1" aria-label="Previous">
									<span aria-hidden="true">&laquo;&laquo;</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								{% endif %}
								<li class="page-item"><a class="page-link">{{ contacts.number }} de {{ contacts.paginator.num_pages }}</a></li>

								{% if contacts.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ contacts.next_page_number }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{ contacts.paginator.num_pages }}" aria-label="Next">
									<span aria-hidden="true">&raquo;&raquo;</span>
									</a>
								</li>
								{% endif %}
							{% endif %}
						</ul>
					</nav><!-- End of Pagination -->


				</div>
			</div>
			
		</div>
	</div>

{% endblock content %}