{% extends "index.html" %}

{% block content %}
	{% load static %}
	<div class="container-fluid product-container">
		<div class="container">
			<div class="row">
				<div class="col-0 col-md-0 col-lg-3 catslist-prodpage">
					<ul class="list-group">
						<li class="list-group-item"><h4 style="font-weight:bold;">Categorías</h4></li>
						{% for listcatleft in listCategorys %}
							<li class="list-group-item list-group-item-action"><a href="{% url 'product_app:sub-categorys' listcatleft.slug listcatleft.id %}">{{ listcatleft.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-12 col-md-12 col-lg-9">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 wrap-products-list" style="margin-top: -10px;">
						{% for p in contacts %}
							<div class="card text-left prod-item" style="border:none; padding: 10px;">
								<a href="{% url 'product_app:single-product' p.slug %}" class="thumbnail">
									{% if p.imagef.url == '' %}
										<img src="{% static 'img/default_thumbnail.jpg' %}">
									{% else %}
										<img src="{{ p.imagef.url }}">
									{% endif %}
								</a>
								<div class="card-body" style="padding: 15px 0px;">
									<h2 class="card-title"><b>{{ p.price|floatformat:2 }}</b><span>L.</span></h2>
									<h5 class="card-title">{{ p.title|truncatechars:19 }}</h5>
									<a href="{% url 'product_app:single-product' p.slug %}" class="btn">Comprar</a>
								</div>
							</div><!-- End Of Product -->
						{% endfor %}
					</div>

					<nav aria-label="Page navigation example" >
						<ul class="pagination">
							{% if contacts.paginator.num_pages != 1 %}
								{% if contacts.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page=1" aria-label="Previous">
									<span aria-hidden="true">&laquo;&laquo;</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								{% endif %}
								<li class="page-item"><a class="page-link">{{ contacts.number }} de {{ contacts.paginator.num_pages }}</a></li>

								{% if contacts.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ contacts.next_page_number }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{ contacts.paginator.num_pages }}" aria-label="Next">
									<span aria-hidden="true">&raquo;&raquo;</span>
									</a>
								</li>
								{% endif %}
							{% endif %}
						</ul>
					</nav><!-- End of Pagination -->


				</div>
			</div>
			<!--<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 wrap-products-list">
				{% for p in listProducts %}
					<div class="card text-center prod-item" style="border:none; padding: 10px;">
						<a href="{% url 'product_app:single-product' p.slug %}" class="thumbnail">
							{% if p.imagef.url == '' %}
								<img src="{% static 'img/default_thumbnail.jpg' %}">
							{% else %}
								<img src="{{ p.imagef.url }}">
							{% endif %}
						</a>
						<div class="card-body">
							<h2 class="card-title">{{ p.price }}<span>Lps.</span></h2>
							<h5 class="card-title">{{ p.title }}</h5>
							<a href="{% url 'product_app:single-product' p.slug %}" class="btn">Comprar</a>
						</div>
					</div>
				{% endfor %}
			</div>

			<nav id="pagination">
				<div class="btn-group" role="group" aria-label="Basic example">
					{% if is_paginated %}
						{% if page_obj.has_previous %}
							<a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
			            {% endif %}
			            {% for i in paginator.page_range %}
			                <a href="?page={{i}}" {% if page_obj.number == i %} class="btn btn-secondary active" {% else %} class="btn btn-secondary" {% endif %}>{{ i }}</a>
			            {% endfor %}
			            {% if page_obj.has_next %}
			            	<a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
			            {% endif %}
					{% endif %}
				</div>
			</nav>-->
		</div>
	</div>

{% endblock content %}