{% extends "index.html" %}

{% block content %}
	{% load static %}
	<div class="container-fluid wrap-single-product">
		<div class="container">

			{% for lp in singleProduct %}
				<div class="row">
					<div class="image-prod col-12 col-md-6">
						<div id="wrap-slider-product">
							<div class="slider-for">
								{% if lp.imagef.url == '' %}
									<div class="item">
										<img src="{% static 'img/default_thumbnail.jpg' %}" class="d-block w-100">
									</div>
								{% else %}
									<div class="item">
										<img src="{{ lp.imagef.url }}" class="d-block w-100">
									</div class="item">
								{% endif %}
								{% if lp.images.url != '' %}
									<div class="item">
										<img src="{{ lp.images.url }}" class="d-block w-100">
									</div>
								{% endif %}
								{% if lp.imaget.url != '' %}
									<div class="item">
										<img src="{{ lp.imaget.url }}" class="d-block w-100">
									</div>
								{% endif %}
							</div>
							<div class="slider-nav">
								{% if lp.imagef.url == '' %}
									<div class="item">
										<img src="{% static 'img/default_thumbnail.jpg' %}" class="d-block w-100">
									</div>
								{% else %}
									<div class="item">
										<img src="{{ lp.imagef.url }}" class="d-block w-100">
									</div class="item">
								{% endif %}
								{% if lp.images.url != '' %}
									<div class="item">
										<img src="{{ lp.images.url }}" class="d-block w-100">
									</div>
								{% endif %}
								{% if lp.imaget.url != '' %}
									<div class="item">
										<img src="{{ lp.imaget.url }}" class="d-block w-100">
									</div>
								{% endif %}
							</div>
						</div><!-- endof Slider Single Product-->
					</div>
					<div class="info-prod col-12 col-md-6">
					{% load mathfilters %}
						<div class="wrap-info">
							<h2 class="card-title">{{ lp.title }}</h2>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<h5 class="card-title" style="font-size: 30px; font-weight: bold !important;">
										{% if lp.priceAnchor %}
											<span style="text-decoration: line-through; font-size: 18px; font-weight: normal; color: #ccc !important;">{{ lp.priceAnchor }}<span style="font-size: 10px;">L.</span></span>
										{% endif %}
										{{ lp.price }}<span style="font-size: 14px;">L.</span>
										{% if lp.priceAnchor %}
											<span style="font-size: 18px; font-weight: normal; color: #F2B100 !important;">  Ahorras {{ lp.priceAnchor|sub:lp.price }}<span style="font-size: 10px;">L.</span></span>
										{% endif %}
									</h5>
								</li>
							    <li class="list-group-item">
									Categoría: <a href="{% url 'product_app:sub-categorys' lp.subCategory.category.slug lp.subCategory.category.id %}">{{ lp.subCategory.category }}</a> - Sub Categoría: <a href="{% url 'product_app:sub-catproducts' lp.subCategory.slug lp.subCategory.id %}">{{ lp.subCategory }}</a>
								</li>
							    <li class="list-group-item">Empresa: <a href="{% url 'product_app:company-products' lp.company.slug lp.company.id %}">{{ lp.company }}</a></li>
							    <li class="list-group-item"><p>Descripción: </br>{{ lp.resume }}</p></li>
							    <li class="list-group-item">
							    	<p>Compartir: 
										<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" style="margin-right: 15px; font-size: 18px;" target="_blank"><i class="fa fa-facebook"></i></a>
										<a href="https://twitter.com/intent/tweet?text={{ request.build_absolute_uri }}%20{{ lp.resume }}" style="margin-right: 15px; font-size: 18px;" target="_blank"><i class="fa fa-twitter" ></i></a>
										<a href="whatsapp://send?text={{ request.build_absolute_uri }}" target="_blank" data-action="share/whatsapp/share" style="margin-right: 15px; font-size: 18px;"><i class="fa fa-whatsapp" ></i></a>
									</p>
									
							    </li>
							    <li class="list-group-item"><a href="#" class="btn">Agregar al Carrito</a></li>
							</ul>
						</div>
					</div>
				</div>
				
			{% endfor %}

				<div class="fluid-cotainer" style="padding: 0px; margin: 15px 0px;">
				  	<h3 class="text-left" style="border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-top: 50px;">Productos relacionados</h3>
				  	<div class="container-fluid catslider" style="padding: 0px; margin: 0px;">
					    {% for nprod in related_prod %}
							<div class="card text-left" style="border: none !important; padding: 5px;">
				  				<a href="{% url 'product_app:single-product' nprod.slug %}" class="thumbnail" style="border: none !important; border-radius: 0;">
									{% if nprod.imagef.url == '' %}
										<img src="{% static 'img/default_thumbnail.jpg' %}" style="border-radius: 0;">
									{% else %}
										<img src="{{ nprod.imagef.url }}" style="border-radius: 0;">
									{% endif %}
								</a>
								<div class="card-body" style="padding: 15px 0px 0px 0px;">
									<h2 class="card-title"><b>{{ nprod.price }}</b><span>L.</span></h2>
									<h5 class="card-title" style="color: #343a40;">{{ nprod.title }}</h5>
								</div>
				  			</div><!-- End Of item -->
						{% endfor %}
					</div>
				</div><!-- End Of Related objets -->

				<div class="wrap-comments col-12">
					<h3>Comentarios</h3>
				</div>
		</div>
	</div>

{% endblock content %}