{% extends "index.html" %}

{% block content %}
	{% load static %}
	<div class="container-fluid wrap-single-product" style="margin-bottom: 100px;">
		<div class="container">

			{% for lp in singleServices %}
				<div class="row">
					<div class="image-prod col-12 col-md-6">
						<div id="wrap-slider-product">
							{% if lp.logo.url == '' %}
								<img src="{% static 'img/default_thumbnail.jpg' %}" class="d-block w-100 thumbnail">
							{% else %}
								<img src="{{lp.logo.url}}" class="d-block w-100 thumbnail">
							{% endif %}
						</div><!-- endof Single Services-->
					</div>
					<div class="info-prod col-12 col-md-6">
						{% load mathfilters %}
						<div class="wrap-info">
							<h2 class="card-title">{{ lp.name }}</h2>
							<ul class="list-group list-group-flush">
								{% if lp.phone %}
									<li class="list-group-item">
										<p>Teléfono: {{lp.phone}}</p>
									</li>
								{% endif %}
								{% if lp.facebook %}
									<li class="list-group-item">
										<p>
											Encuentranos en: 
											{% if lp.facebook %}
												<a href="{{lp.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
											{% endif %}
											{% if lp.instagram %}
												<a href="{{lp.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
											{% endif %}
											{% if lp.twitter %}
												<a href="{{lp.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
											{% endif %}
											{% if lp.youtube %}
												<a href="{{lp.youtube}}" target="_blank"><i class="fa fa-youtube"></i></a>
											{% endif %}
										</p>
									</li>
								{% endif %}
								{% if lp.website %}
									<li class="list-group-item">
										<a href="{{lp.website}}">Nuestro Sitio Web</a>
									</li>
								{% endif %}
								{% if lp.address %}
									<li class="list-group-item">
										<p>Dirección: {{lp.address}}</p>
									</li>
								{% endif %}
							    <li class="list-group-item">
									<p>Descripción: </br>{{ lp.resume }}</p>
								</li>
							    <li class="list-group-item">
							    	<p>Compartir: 
										<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" style="margin-right: 15px; font-size: 18px;" target="_blank"><i class="fa fa-facebook"></i></a>
										<a href="https://twitter.com/intent/tweet?text={{ request.build_absolute_uri }}%20{{ lp.resume }}" style="margin-right: 15px; font-size: 18px;" target="_blank"><i class="fa fa-twitter" ></i></a>
										<a href="whatsapp://send?text={{ request.build_absolute_uri }}" target="_blank" data-action="share/whatsapp/share" style="margin-right: 15px; font-size: 18px;"><i class="fa fa-whatsapp" ></i></a>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			{% endfor %}
		</div>
	</div>

{% endblock content %}