<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1 style="width: 90%; text-align: center; padding: 30px 0px; color: #ef4036; font-weight: lighter; border-bottom: 1px solid #ccc; font-size:  20px; margin: 0px auto;">VENDO EN CASA</h1>
    <h1 style="width: 100%; text-align: center; padding: 30px 0px; color: #444; font-weight: lighter; font-size: 30px;">BIENVENIDO A NUESTRA PLATAFORMA</h1>
    <p style="width: 85%; text-align: center; margin: 0px auto; padding-bottom: 15px; color: #999;">Te agradecemos por unirte a nuestra plataforma, con nosotros podrás comprar los mejores productos y de la forma más segura posible.</p>
    <!--<p style="width: 85%; text-align: center; margin: 0px auto; padding-bottom: 25px; color: #999;">Por favor  lee nuestras condiciones antes de confirmar tu registro.</p>-->
    <p style="width: 85%; text-align: center; margin: 0px auto; padding-bottom: 25px; color: #999;">Te recomendamos leer nuestras condiciones para que estes seguro de como funciona nuestra plataforma.</p>
    <a href="https://www.vendoencasa.net/terms/" style="display: block; width: 85%; text-align: center; margin: 0px auto; margin-bottom: 30px; color: #444;">Leer Términos y Condiciones</a>
    <!--<a href="#" style="display: block; width: max-content; text-align: center; margin: 0px auto; padding: 15px 10px; color: #fff; background: #ef4036; border-radius: 5px; text-decoration: none; margin-top: 50px;">Confirmar</a>-->

    <img src="https://picsum.photos/800/300" style="display: block; width: 100% !important; height: auto; margin-top: 50px;">
</body>
</html>