<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        a:hover{ background: #22214f; }

        ul li a:hover{ background: transparent; color: #22214f; }


        @media screen and (max-width: 1100px) {
            h1{ font-size: 60px !important; }

            h3{ font-size: 20px !important; }
        }

        @media screen and (max-width: 890px) {
            h1{ font-size: 50px !important; }

            h3{ font-size: 20px !important; }
        }

        @media screen and (max-width: 700px) {
            p{ font-size: 13px !important; }

            a{ font-size: 14px !important;}

            div p{ font-size: 15px !important; }

            h1{ font-size: 30px !important; }

            h3{ font-size: 15px !important; }
        }

        @media screen and (max-width: 450px) {
            ul li{ float: none !important; text-align: center !important; width: 100% !important; }
        }
    </style>
</head>
<body style="background: #f7f7f7; font-family: helvetica, arial; padding-top: 20px;">
    <img src="https://www.vendoencasa.net/static/img/page/LogoVC.png" style="display: block; width: 30% !important; height: auto; margin: 0px auto 30px auto;">
    <img src="https://www.vendoencasa.net/static/img/correo.png" style="display: block; width: 95% !important; height: auto; margin: 0px auto 50px auto;">
    <h1 style="widht: 100%; color: #2a2963; font-size: 60px; text-align: center; margin-bottom: 0px;">L 100.00 DE DESCUENTO</h1>
    <h3 style="widht: 100%; color: #2a2963; font-size: 30px; text-align: center; margin-top: 0px; font-weight: lighter;">EN TU PRIMER PEDIDO SUPERIOR A L 1,000.00</h3>

    <div style="background: #e54137; display: block; width: max-content; padding: 5px; margin: 20px auto; max-width: 100%;">
        <p style="display: block; width: max-content; padding: 10px; background: transparent; border: 1px solid #fff; margin: 0px; color: #fff; font-size: 40px;">CÓDIGO: NU100</p>
    </div>
    <p style="width: 90%; color: #2a2963; text-align: center; text-align: center; font-size: 14px; margin: 0px auto; padding: 0px;">*OFERTA VÁLIDA 30 DÍAS DESPUÉS</br> DE SU REGISTRO.</p>

    <a href="https://www.vendoencasa.net/" style="font-weight: bold; color: #fff !important; background: #2a2963; border-radius: 20px; font-size: 30px; display: block; margin: 20px auto; padding: 15px 20px; width: max-content; text-decoration: none;">Confirmar ></a>
    <p style="margin-top: 40px; width: 90%; color: #2a2963; text-align: center; text-align: center; font-size: 14px; margin: 0px auto; padding: 0px;">Por favor, si tiene alguna consulta contacte con nuestro servicio al cliente.</p>
    <p style="width: 90%; color: #2a2963; text-align: center; text-align: center; font-size: 14px; margin: 0px auto; padding: 0px;">ATENCIÓN: Es un correo electrónico generado automáticamente, por facor, no lo respondas.</p>
    <p style="width: 90%; color: #2a2963; text-align: center; text-align: center; font-size: 14px; margin: 0px auto; padding: 0px;">Vendo en Casa es una marca comercial registrada de STUDIO MOREBI, S. DE R.L. Todos los derechos reservados.</br> Torre Alianza #2, tercer piso, oficinas 304.</p>

    <div class="social-buttons" style="width: 100%; margin: 20px auto; text-align: center;">
        <p style="width: 100%; color: #2a2963; text-align: center; text-align: center; font-size: 18px; margin: 0px; padding: 0px; font-weight: bold; border: none; margin-top: 50px; margin-bottom: 15px;">ENCUÉNTRANOS EN</p>
        <a href="https://www.instagram.com/vendoencasa/" class="instagram" style="padding: 0px; border-radius: 100%; display: inline-block; margin: 5px; width: 40px; height: 40px; font-size: 35px; background: transparent !important;"><img src="https://www.vendoencasa.net/static/img/instagram.png" style="width: 40px; height: 40px; padding: 0px; margin: 0px;"></a>
        <a href="https://www.youtube.com/channel/UCy9F1eY_jK7SlocIBagDQdQ" class="youtube" style="padding: 0px; border-radius: 100%; display: inline-block; margin: 5px; width: 40px; height: 40px; font-size: 35px; background: transparent !important;"><img src="https://www.vendoencasa.net/static/img/youtube.png" style="width: 40px; height: 40px; padding: 0px; margin: 0px;"></a>
        <a href="https://www.facebook.com/vendoencasahn" class="facebook" style="padding: 0px; border-radius: 100%; display: inline-block; margin: 5px; width: 40px; height: 40px; font-size: 35px; background: transparent !important;"><img src="https://www.vendoencasa.net/static/img/facebook.png" style="width: 40px; height: 40px; padding: 0px; margin: 0px;"></a>
        <a href="https://www.tiktok.com/@vendoencasa" class="tiktok" style="padding: 0px; border-radius: 100%; display: inline-block; margin: 5px; width: 40px; height: 40px; font-size: 35px; background: transparent !important;"><img src="https://www.vendoencasa.net/static/img/tiktok2.png" style="width: 40px; height: 40px; padding: 0px; margin: 0px;"></a>
    </div>

    <ul style="display: block; margin: 0px auto; overflow: hidden; width: max-content; padding: 20px 0px 60px 0px;">
        <li style="display: block; float: left; width: max-content; padding: 5px;"><a href="#" style="font-size: 16px; padding: 0px; background: transparent; color: #2a2963; margin: 0px;">Políticas de Privacidad</a></li>
        <li style="display: block; float: left; width: max-content; padding: 5px;">|</li>
        <li style="display: block; float: left; width: max-content; padding: 5px;"><a href="https://www.vendoencasa.net/terms/" style="font-size: 16px; padding: 0px; background: transparent; color: #2a2963; margin: 0px;">Términos y Condiciones</a></li>
    </ul>
</body>
</html>