{% extends "index.html" %}

{% block content %}

	{% load static %}
	{% load thumbnail %}
	<div class="container-fluid list-cats">
		<div class="container">
			<div class="cart-top text-left" style="padding-bottom: 40px; padding-top: 100px;">
				<h2>Mi Lista de Deseos</h2>
			</div>

			<div class="row">
				<div class="col-12 col-md-12 col-lg-12">
					<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 wrap-products-list" style="margin-top: -10px;">
						{% if object.items.all %}
							{% for p in object.items.all %}
								<div class="card text-left prod-item" style="border:none; padding: 10px; overflow: hidden;">
									<a href="{{ p.item.get_add_to_cart_from_wish_url }}" class="btn wish-btn2" style="border-radius: 0 !important;">Mover al Carrito</a>
									<div class="thumbnail-order">
										{% if p.item.imagef.url == '' %}
											<img src="{% static 'img/default_thumbnail.jpg' %}" style="border-top: none !important; border-bottom: none !important;">
										{% else %}
											{% thumbnail p.item.imagef "300x300" crop="center" as im %}
												<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style="border-top: none !important; border-bottom: none !important;">
											{% endthumbnail %}
										{% endif %}
										{% if p.item.quantity < 1 %}
											<span class="exhausted">Temporalmente Agotado</span>
										{% endif %}
									</div>
									<a href="{{ p.item.get_remove_from_wish_url }}" class="btn wish-btn" style="border-radius: 0 !important;">Quitar de Lista de Deseos</a>
										
									<div class="card-body" style="padding: 15px 0px; text-align: center !important;">
										<h2 class="card-title" class="text-center" style="font-size: 18px; font-weight: bold;"><b><a href="{% url 'product_app:single-product' p.item.slug %}">{{ p.item.title|truncatechars:30 }}</a></b></h2>
										<h5 class="card-title" class="text-center" style="font-size: 15px; color: #444;"><b>{{ p.item.price|floatformat:2 }}</b><span style="font-size: 10px;">L</span></h5>
									</div>
								</div><!-- End Of Product -->
							{% endfor %}
						{% else %}
							<h5 class="text-center w-100">Tu lista está vacía</h5>
						{% endif %}
					</div>
				</div>
			</div>




			<!--<div class="table-responsive">
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Producto</th>
							<th scope="col">Precio</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for oreder_item in object.items.all %}
							<tr>
								<td>
									<a href="{% url 'product_app:single-product' oreder_item.item.slug %}">{{ oreder_item.item.title|truncatechars:50 }}</a>
									{% if oreder_item.color %}
										<span class="badge badge-primary">{{ oreder_item.color }}</span>
									{% endif %}
									{% if oreder_item.size %}
										<span class="badge badge-success">{{ oreder_item.size }}</span>
									{% endif %}
								</td>
								<td>
								{% if oreder_item.item.pricePromo %}
									{{ oreder_item.item.pricePromo|floatformat:2 }}<span style="font-size: .8em;">L.</span>
								{% else %}
									{{ oreder_item.item.price|floatformat:2 }}<span style="font-size: .8em;">L.</span>
								{% endif %}
								</td>
								<td>
									<button class="btn" type="submit" style="float:right; margin-left: 20px;">
										<i class="fa fa-shopping-cart"></i>
									</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>-->
		</div>
	</div>

{% endblock content %}