{% extends "index.html" %}

{% block content %}

	{% load static %}
	<div class="container-fluid list-cats">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 wrap-products-list">
				{% for comp in object_list %}
					<div class="card text-center prod-item" style="width: 18rem;">
						{% if comp.icono.url == '' %}
							<img src="{% static 'img/subcategoria.jpg' %}">
						{% else %}
							<img src="{{ comp.icono.url }}">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">{{ comp.name }}</h5>
						</div>
					</div><!-- End Of Product -->
				{% endfor %}
			</div>

			<nav id="pagination">
				<div class="btn-group" role="group" aria-label="Basic example">
					{% if is_paginated %}
						{% if page_obj.has_previous %}
							<a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
			            {% endif %}
			            {% for i in paginator.page_range %}
			                <a href="?page={{i}}" {% if page_obj.number == i %} class="btn btn-secondary active" {% else %} class="btn btn-secondary" {% endif %}>{{ i }}</a>
			            {% endfor %}
			            {% if page_obj.has_next %}
			            	<a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
			            {% endif %}
					{% endif %}
				</div>
			</nav>
		</div>
	</div>

{% endblock content %}