{% extends "index.html" %}
{% block content %}
	
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  	<ol class="carousel-indicators">
	    	<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    	<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    	<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  	</ol>
	  	<div class="carousel-inner">
	    	<div class="carousel-item active">
	      		<img class="d-block w-100 slide1">
	    	</div>
	    	<div class="carousel-item">
	      		<img class="d-block w-100 slide2">
	    	</div>
	    	<div class="carousel-item">
	      		<img class="d-block w-100 slide3">
	    	</div>
	  	</div>
	  	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    	<i class="fa fa-arrow-circle-left"></i>
	  	</a>
	  	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    	<i class="fa fa-arrow-circle-right"></i>
	  	</a>
	</div><!-- End Of Slider -->

	<div id="bestsellerslider" class="carousel slide" data-ride="carousel">
	  	<div class="carousel-inner container">
	  		<h3 class="text-center">Más Vendidos</h3>
	    	<div class="carousel-item active">
	    		<div class="card-deck">
				    <div class="card text-center">
				        <img src="https://picsum.photos/200/150" class="card-img-top">
				        <div class="card-body">
				            <h2 class="card-title">150 <span>lps</span></h2>
				        </div>
				    </div>
				    <div class="card text-center">
				        <img src="https://picsum.photos/200/150" class="card-img-top">
				        <div class="card-body">
				            <h2 class="card-title">120 <span>lps</span></h2>
				        </div>
				    </div>
				    <div class="card text-center">
				        <img src="https://picsum.photos/200/150" class="card-img-top">
				        <div class="card-body">
				            <h2 class="card-title">350 <span>lps</span></h2>
				        </div>
				    </div>
				    <div class="card text-center">
				        <img src="https://picsum.photos/200/150" class="card-img-top">
				        <div class="card-body">
				            <h2 class="card-title">310 <span>lps</span></h2>
				        </div>
				    </div>
				</div>
	    	</div>
	    	<div class="carousel-item">
	    		<div class="card-deck">
				    <div class="card text-center">
				        <img src="https://picsum.photos/200/150" class="card-img-top">
				        <div class="card-body">
				            <h2 class="card-title">1222 <span>lps</span></h2>
				        </div>
				    </div>
				    <div class="card text-center">
				        <img src="https://picsum.photos/200/150" class="card-img-top">
				        <div class="card-body">
				            <h2 class="card-title">560 <span>lps</span></h2>
				        </div>
				    </div>
				    <div class="card text-center">
				        <img src="https://picsum.photos/200/150" class="card-img-top">
				        <div class="card-body">
				            <h2 class="card-title">950 <span>lps</span></h2>
				        </div>
				    </div>
				    <div class="card text-center">
				        <img src="https://picsum.photos/200/150" class="card-img-top">
				        <div class="card-body">
				            <h2 class="card-title">350 <span>lps</span></h2>
				        </div>
				    </div>
				</div>
	    	</div>
	  	</div>
	  	<a class="carousel-control-prev" href="#bestsellerslider" role="button" data-slide="prev">
	    	<i class="fa fa-arrow-circle-left"></i>
	  	</a>
	  	<a class="carousel-control-next" href="#bestsellerslider" role="button" data-slide="next">
	    	<i class="fa fa-arrow-circle-right"></i>
	  	</a>
	</div><!-- End Of Best Seller -->

{% endblock content %}