{% extends "index.html" %}

{% block content %}
	
	<div class="container-fluid wrap-single-product">
		<div class="container">
			{% for lp in singleProduct %}
				<div class="rows">
					<div class="image-prod col-12 col-md-6">
						<img src="{{ lp.imagef.url }}">
					</div>
					<div class="info-prod col-12 col-md-6">
						<div class="wrap-info">
							<h2 class="card-title">{{ lp.title }}</h2>
							<h5 class="card-title">{{ lp.price }}<span>Lps.</span></h5>
							<p>{{ lp.company }}</p>
							<p>{{ lp.resume }}</p>
							<a href="#" class="btn">Agregar al carrito</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock content %}