{% extends "index.html" %}

{% block content %}
	
	<div class="container-fluid wrap-single-product">
		<div class="container">
			{% for lp in singleProduct %}
				<div class="rows">
					<div class="image-prod col-12 col-md-6">
						<img src="{{ lp.imagef.url }}">
					</div>
					<div class="info-prod col-12 col-md-6">
						<div class="wrap-info">
							<h2 class="card-title">{{ lp.title }}</h2>
							<h5 class="card-title">{{ lp.price }}<span>Lps.</span></h5>
							
							<ul class="list-group list-group-flush">
							    <li class="list-group-item">Sub Categoria: <a href="#">{{ lp.subCategory }}</a></li>
							    <li class="list-group-item">Empresa: <a href="#">{{ lp.company }}</a></li>
							    <li class="list-group-item"><p>Descripcion: </br>{{ lp.resume }}</p></li>
							</ul>
							<a href="#" class="btn">Agregar al carrito</a>
						</div>
					</div>
					<div class="wrap-comments col-12">
						<h2>Comentarios</h2>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock content %}