body
{
	background: #f7f7f7 !important;
}

#body-row {
	margin-left: 0;
	margin-right: 0;
}

#sidebar-container {
	min-height: 100vh;
	background-color: #ef4036;
	padding: 0;
	/* flex: unset; */
}

.sidebar-expanded {
	width: 230px;
}

.sidebar-collapsed {
	/*width: 60px;*/
	width: 100px;
}

#sidebar-container .list-group a {
	height: 50px;
	color: white !important;
	border-radius: 0px !important;
}

#sidebar-container .list-group li.list-group-item {
	background-color: #ef4036;
	border-radius: 0px !important;
}

#sidebar-container .list-group .sidebar-submenu a {
	height: 45px;
	padding-left: 30px;
	border-radius: 0px !important;
}

.sidebar-submenu {
	font-size: 0.9rem;
	border-radius: 0px !important;
}

.sidebar-separator-title {
	background-color: #ef4036;
	height: 35px;
	border-radius: 0px !important;
}

.sidebar-separator {
	background-color: #ef4036;
	height: 25px;
	border-radius: 0px !important;
}

.logo-separator {
	background-color: #ef4036;
	height: 60px;
	border-radius: 0px !important;
}

.list-group a.bg-dark {
	background-color: #ef4036 !important;
	border-radius: 0px !important;
}

.list-group a.bg-dark:hover
{
	background-color: #A31C15 !important;
	border-radius: 0px !important;
}

li span {
	color: #fff;
	border-radius: 0px !important;
}

#dashstats
{
	margin: 50px auto;
	border: 1px solid #ccc;
	border-radius: 10px !important;
}

#dashstats h2
{
	margin-top: 8px;
}

#dashgraphics ul
{
	margin: 0px;
	padding: 0px;
}

#dashgraphics li
{
	list-style: none !important;
}

/*------------------------------------------------------
PRODUCT STYLES
------------------------------------------------------*/

.newprod
{
	margin-top: 50px;
}

.newprod input[type="text"], .newprod input[type="password"], .newprod input[type="email"], .newprod select, .newprod textarea, .newprod input[type="file"]
{
	max-width: 100%;
	width: 100% !important;
	padding: 10px !important;
	border: 1px solid #dedede !important;
	border-radius: 0px !important;
	height: auto !important;
}

.select2-container--default .select2-selection--single
{
	border-radius: 0px !important;
	border: 1px solid #dedede !important;
	height: auto !important;
	padding: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
	height: 100% !important;
}

.card-header
{
	background: #fff !important;
	font-size: 19px !important;
	font-weight: lighter !important;
}

.btn
{
	background: #ef4036 !important;
	color: #fff !important;
}

.btn:hover
{
	background: #A31C15 !important;
	color: #fff !important;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.newprod .card .card-body ul
{
	width: 100%;
	padding: 0px;
}

.newprod .card .card-body ul li
{
	list-style: none;
	width: max-content;
	float: left;
	display: inline-block;
	padding-right: 20px;
}


@media screen and ( max-width: 1000px )
{
	#sidebar-container {
		min-height: 0;
		height: auto;
		width: 100%;
	}

	#sidebar-container .list-group {
		display: block !important;
	}
	
	#sidebar-container .list-group a {
		height: 50px;
		color: white !important;
		border-radius: 0px !important;
		width: max-content !important;
		margin: 0;
		float: left;
	}

	#sidebar-container .list-group .salir
	{
		position: initial !important;
	}
}

@media screen and ( max-width: 768px )
{
	#sidebar-container {
		margin-top: 50px;
	}
}

.select2-container
{
	max-width: 100% !important;
}