@media screen and ( max-width: 767px )
{
	.first
	{ 
		-webkit-box-ordinal-group: 1;
  		-ms-flex-order: 1;
  		order: 1;
  		margin-bottom: 10px;
	}
	.second
	{ 
		-webkit-box-ordinal-group: 3;
  		-ms-flex-order: 3;
  		order: 3;
	}
	.third
	{ 
		-webkit-box-ordinal-group: 2;
  		-ms-flex-order: 2;
  		order: 2; 
  		margin-bottom: 10px;
	}
	#carouselExampleIndicators
	{
		margin-top: 100px;
	}

	.wrap-image-season
	{
		display: none !important;
	}

	.image-prod
	{
		margin-bottom: 50px;
	}

	.catslist-prodpage
	{
		margin-bottom: 50px;
	}
}

@media screen and ( max-width: 460px )
{
	header nav .input-group-prepend
	{
		display: none !important;
	}
	
	header nav #inlineFormInputGroupUsername2
	{
		border-left: 1px solid #f3f3f3 !important;
    	border-radius: 5px 0px 0px 5px !important;
	}

	h1, h2, h3, h4, h5, h6
	{
		font-size: 1.2em !important;
	}

	.wrap-title-season p, .wrap-title-offert p
	{
		font-size: .8em !important;
		text-align: center;
	}

	.card h5
	{
		font-size: .8em !important;
	}
}

@media screen and ( max-width: 370px )
{
	header .navbar
	{
		padding: 10px 0px;
	}

	header .first, header .third
	{
		padding: 0px;
	}

	header .navbar-car
	{
		margin-right: 0px !important;
	}

}